@tailwind base;
@tailwind components;
@tailwind utilities;

.borde{
    @apply border-2 border-indigo-200 rounded-lg;
}

.block-cont-authen{
    @apply w-1/3 flex flex-col justify-center items-center py-4;
}
.text_style_1{
    @apply text-3xl font-extrabold text-gray-900 text-center;
}

.block_input{
    @apply h-1/2 px-3 py-4  bg-gray-100 focus:outline-none focus:ring focus:border-indigo-200 rounded-md;
}

.boton_style{
    @apply w-full px-4 py-3 rounded-md text-white font-semibold capitalize;
}

.boton_style_google{
    @apply w-full px-4 py-3 rounded-md text-black font-semibold capitalize border-2 
    border-gray-200 hover:border-gray-400;
}

.fondo{
    background-image: url('../media/city.jpg');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}



.boton_card{
    @apply w-1/2 px-4 py-3 mt-2 rounded-md text-white font-semibold capitalize border-2 border-indigo-400
    bg-indigo-400 hover:bg-indigo-300;
}

.title_style{
    @apply text-gray-600 font-bold text-xl sm:text-3xl;
}

.items_menu{
    @apply w-60 border-2 h-16 flex items-center border-transparent justify-center mb-5 hover:bg-indigo-500 hover:text-white;
}

.boton_default{
    @apply w-56 px-4 py-3 mt-2 rounded-md text-white font-semibold capitalize border-2 border-indigo-400
    bg-indigo-400 hover:bg-indigo-300;
}

.input_style_new{
    @apply w-11/12 border-2 h-full focus:outline-none focus:border-indigo-300 pl-4 font-normal text-xl mt-2 rounded-md;
}

.darkMode{
    @apply text-white;
}

.lightMode{
    @apply text-black;
}

